div {
    color: red;
    font-size: 72px
}

.titulo-legal{
    color: orange;
    font-weight: 800;
    background-color: blue;
}

.titulo-legal2{
    background-color: red;
}

#titulo-legal{
    color: aquamarine;
}